@import "./variable.scss";
@import "./media.scss";

.collection {
  position: relative;
  z-index: 6;


  border-bottom: 2px solid #000;
  .line {
    position: relative;
    height: 3px;
    background: black;
    // span{
    //   position: absolute;
    //   width: 20px;
    //   height: 20px;
    //   background: #fde09a;
    //   top: 4px;
    //   left: 50%;
    //   transform: rotate(45deg) translateX(-20px);
    // }
    // &::before{
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 100%;
    //   height: 100%;
    //   background: black;
    //   width: 20px;
    //   transform: rotate(45deg) translate(-50%,20px);

    // }
    // &::after{
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 50%;
    //   width: 100%;
    //   height: 100%;
    //   background: black;
    //   width: 20px;
    //   transform: rotate(-45deg) translate(18%, 13px);

    // }
  }
  > section {
    > div {
      display: flex;
      overflow: hidden;
      align-items: center;
      position: relative;
      height: 395px;
      width: 100%;
      border-bottom: 1px solid black;
    }
  }
  h1 {
    margin-right: 10px;
    font-family: "Evogria", sans-serif !important;
    color: #fff !important;
  }
  .img__grid {
    display: flex;

    .img__item {
      height: 400px;
      width: 400px;
      // background: #f2eeeb;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-right: 3px solid black;
      }
    }
  }
}
