@import "./variable.scss";
@import "./media.scss";

.accordian {
  padding: 0px 0 60px;
  position: relative;

  z-index: 5;
  overflow: hidden;

  @include md {
    padding: 15px 0;
  }

  .container {
    max-width: 1300px;
    margin: 40px auto;
    padding: 0 10px;

    .heading {
      h1 {
        font-size: clamp(4rem, 5vw, 7rem);
        line-height: 1.2em;
        display: block;
        text-shadow: 1px 2px 11px #00000026;
        text-align: center;
        color: #dfdfdf;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        z-index: 3;
        &::before {
          content: "FAQS";
          position: absolute;
          top: -14px;
          left: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          font-size: 6rem;
          z-index: -1;
          opacity: 0.1;
        }
      }
    }

    .accordian__grid {
      padding: 10px 30px;
      max-width: 80%;
      margin: 0 auto;

      @include md {
        max-width: 96%;
        padding: 10px 0;
      }

      .end {
        order: 2;

        ul {
          list-style: none;
        }

        > div {
          > div {
            position: relative;
            margin-bottom: 15px;
            padding: 2px 3px;
            font-size: 24px;
            line-height: 1em;
            letter-spacing: 0.2px;
            cursor: pointer;
            margin-top: 0 !important;
            border-bottom: 1px solid black;
            border-radius: 0;
            border: 2px solid black;
            background-color: rgba(185, 72, 65, 0.11);
            box-shadow: inset 0 0 0 2px #b94841;
            li {
              font-size: 18px;
            }

            svg {
              fill: currentColor;
              width: 1em;
              height: 1em;
              display: inline-block;
              font-size: 1.5rem;
              transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
              flex-shrink: 0;
              -webkit-user-select: none;
              user-select: none;
              background: no-repeat;
              border-radius: 100px;
              -webkit-border-radius: 100px;
              -moz-border-radius: 100px;
              -ms-border-radius: 100px;
              -o-border-radius: 100px;
            }
          }
        }
      }
    }
  }
}

.makeStyles-heading-2 {
  font-size: 18px !important;
}

.makeStyles-heading-2 {
  font-size: 0.9375rem;
  font-weight: 400;
  font-size: 20px !important;
  size: 1em 2.5em;
  color: #fff;
}

p.MuiTypography-root.MuiTypography-body1 {
  font-size: 20px !important;
  color: #dfdfdf;
  text-transform: capitalize;
  @include lg {
    font-size: 20px !important;
  }

  @include sm {
    font-size: 18px !important;
  }
}

.MuiTypography-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

// font-size: clamp(3rem, 7vw, 3.5rem);

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.MuiAccordion-root:before {
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  content: unset !important;
  opacity: 1;
  position: absolute;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.12);
}
